<% if flash %>
  <% if flash[:notice] %> 
    <div id="notice" class="flash"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
    <div id="error" class="flash"><%= flash[:error] %></div>
  <% end %>
<% end if %>
