<p><b>New message from <%= @contact.name + '(' + @contact.email + '):' %></b></p>
<p><%= @contact.message %></p>
<p>---------------------</p>
<p>Sent from gdpproductions.com (Please do not reply to this address)</p>