  <div id="image" class="hidden"><%= image_tag 'blank.gif' %></div>
  <div id="minimize" class="transBack roundFont hover"></div>

  <ul id="imageInfo" class="hidden transBack roundFont">
    <li id="pictureCaption"></li>
    <li id="pictureShow"></li>
    <li id="pictureShowDate"></li>
    <li id="picturePhotographer"></li>
    <% if has_other_picture %>
      <li class="hover" id="changePicture">Change Picture</li>
    <% end %>
  </ul>

  <div id="pictureMode" class="hidden"><%= @picture_mode %></div>