<section id="contact">
	<p>If you've got a question, comment, proposition, or otherwise want to get in touch, we're excited to hear from you!</p>
	<p>Simply send an email with your name and contact information to <a href="mailto:contact@gdpproductions.com">contact@gdpproductions.com</a>, and you'll hear from us shortly.</p>
</section>
