/* 
    Document   : about
    Created on : Apr 7, 2012, 2:28:01 PM
    Author     : KIESJL
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#content {
    text-align: left;
}

#intro {
    text-align: right;
}

#aboutList {
    width: 100%;
    overflow: hidden;
    padding: 1em 0;
}

#aboutList:after {
    content: '.';
    display: none;
    clear: both;
    border: 1px solid red;
}

#aboutList li {
    float: left;
}

#aboutList .aboutItem {
    position: relative;
    box-shadow: inset 4px 2px 5px black, inset -2px -1px 3px black;
    padding: 1em;
    margin: .5em;
    border-radius: 1em;
    text-align: left;
    left: .5em;
    overflow: hidden;
    z-index: 1;
}

#aboutList .abouttext {
    position: relative;
    width: 7em;
    text-align: center;
}

#aboutList .slider {
    font-size: .95em;
    display: none;
}

#aboutList .aboutItem:before {
    content: ' ';
    border-radius: 1em;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url('/images/patterns/weave.gif');
    opacity: .5;
}

#aboutList .aboutItem img {
    position: absolute;
    top: 0;
    left: -.5em;
    width: 5em;
    opacity: .3;
    filter:alpha(opacity=30);
}

#aboutList .aboutItem:hover { background-color: rgba(255,255,255,.3); }

#info, #intro, #about {
    padding: 0 1em;
}

#info h2, #aboutList h2, #about h2 {
    color: #AAD;
}

#howToHelp a, #content a { color: white; }
#howToHelp a:hover, #content a:hover { color: #AAD; }
