body, html {
    overflow: hidden;
}

/* Color scheme */
.hover:hover, .hover:hover a, #menu ul li a:hover, #whatson:hover, .show:hover a {
    color: #AAD !important;
}

#menu ul li a:hover:before {
    background-color: #AAD;
}

.show:hover {
    border-color: #AAD;
}

#aboutList .aboutItem:hover { 
    background-color: rgba(255,255,255,.3); 
}


#menu, #gdp {
    position: absolute;
}

#gdp {
    top: 1em;
    left: .5em;
    z-index: 1000;
}

#gdp img {
    height: 7em;
}

#content {
	padding: 1.5em .5em .5em .5em;
        margin: 5em 0 0 2em;
	left: 2em;
	top: 0;
	bottom: 0;
	width: 50em;
	text-align: right;
        overflow: auto;
}

#menu>ul>li:hover {
    opacity: 1;
}

#menu>ul>li>a:hover:before, .social:hover:before {
	width: 1em;
	height: 100%;
	content: " ";
	position: absolute;
	top: 0;
	right: -1em;
}

#aboutList .aboutItem {
    width: 9em;
}

#aboutList .abouttext {
    left: 1.5em;
}

#aboutList .slider {
    padding-left: 10em;
    position: absolute;
    top: .33em;
    left: 1em;
}

.showPage {
    margin: 1.5em;
}

.showPic {
	height: 9em;
	width: 9em;
	margin: .5em;
	position: absolute;
	left: 0;
	top: 0;
	
}

.showPic img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.showText .showTitle, .showText .showDesc, .showText .showDates {
	margin-left: 10em;
	text-align: left;
}

.showTitle h2 {
    font-size: 2em;
}

.showTitle>a:hover {
    right: .25em;
    font-weight: bold;
}

.showHeaderDates {
    position: absolute;
    top: .6em;
    left: 2.5em;
    font-size: 2em;
}

.showGallery img:hover {
    opacity: 1;
    filter:alpha(opacity=100);
}

.showScroller {
    height: 5em;
}

.social img {
    margin: 0;
    padding-left: .5em;
    width: 1.5em;
    height: 1.5em;
    opacity: .75;
}

.social img:hover {
    opacity: 1;
}