/* 
    Document   : formtastic
    Created on : Apr 1, 2012, 7:56:46 PM
    Author     : KIESJL
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.formtastic p {
    padding: 0 2em;
}

.formtastic li {
    list-style: none;
    padding-right: 10em;
}

.formtastic .string input, .formtastic .text textarea {
      width: 30em;
      margin: 1em;
      padding: .25em;
      font-size: 13px;
      border-radius: .75em;
      box-shadow: 1px 1px #CCC;
      border: none;
      color: white;
      background-color: #666;
      background-color: rgba(0,0,0,1);
      opacity: .5;
      vertical-align: top;
  }

.formtastic .text textarea {
    height: 15em;
    resize: none;
}

.formtastic .string label, .formtastic .text label {
    position: relative;
    top: 1em;
}

.formtastic {
    padding: .25em 1em;
    margin: 1em;
}