@CHARSET "ISO-8859-1";

@font-face {
  font-family: 'rounded';
  src: url('/fonts/vaground-webfont.eot');
  src: local('vagrond-webfont'), url('/fonts/vaground-webfont.ttf') format('truetype'); /* non-IE */
}

body, html {
	margin: 0;
	padding: 0;
	color: white;
	background-color: black;
	overflow: hidden;
}

#gdp {
    position: absolute;
    top: 1em;
    left: .5em;
    z-index: 1000;
}

#gdp img {
    width: 10em;
    height: 7em;
}

#header {
        position: absolute;
        margin: .67em 0 0 .67em;
        padding: .5em;
        width: 16.67em;
        top: -.33em;
        left: 1.25em;
	z-index: 10;
        text-align: right;
        font-size: 3em;
        font-family: "rounded", Helvetica;
        text-shadow: rgba(0,0,0,.75) -4px 4px rgba(0,0,0,1);
}

#body {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
}

#content {
        position: absolute;
        background-color: black;
        background-color: rgba(0, 0, 0, .75);
        filter:alpha(opacity=50);
	padding: .5em;
        margin-left: 2em;
        margin-top: 5em;
	box-shadow: 0 0 .5em .5em rgba(0, 0, 0, .75);
	left: 2em;
        padding-top: 1.5em;
	top: 0;
	bottom: 0;
	width: 50em;
	text-align: right;
}

#content * {
    filter: alpha(opacity=100);
}

#menu {
	position: absolute;
	right: 0;
	top: 5em;
	font-family: "rounded", Helvetica;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#menu ul li {
	padding: 0 1em;
	margin: .5em 0;
        background-color: black;
	background-color: rgba(0, 0, 0, .5);
        filter:alpha(opacity=50);
	text-align: right;
}

#menu ul li a {
	position: relative;
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	padding-right: 1em;
}

#menu ul li a:hover:before {
	width: 1em;
	height: 100%;
	content: " ";
	position: absolute;
	top: 0;
	right: -1em;
}

#whatson {
	color: white;
	position: absolute;
	right: 2em;
	bottom: 2em;
	text-shadow: 1px 1px 2px black;
}

#whatson span {
	display: block;
        text-align: center;
}

#woTitle {
	-webkit-transform-origin: 0 100%; 
	-moz-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
        writing-mode: bt-rl;
	position: absolute;
	bottom: -.15em;
	font-size: 1.5em;
	font-family: "rounded", Helvetica;
	margin: 0;
	padding: 0;
}

#woShowtitle h2 {
	font-size: 1.5em;
	font-family: "rounded", Helvetica;
}

#woShowtitle, #woDates, #woThumb {
	padding: 0 .5em;
}

#woDates h2 {
	font-family: arial;
	font-size: .75em;
	font-style: italic;
}

#woThumb {
	position: relative;
	top: .25em;
	padding: .25em;
	width: 6em;
	height: 6em;
        margin: auto;
        text-align: center;
        border: 2px solid #AAD;
        border-radius: 5px;
}

#woThumb img {
	width: 100%;
	height: 100%;
}

#image {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: -1;
}

#image img {
	width: 100%;
	height: 100%;
}.hidden {
	display: none;
}

.show {
	height: 10em;
	position: relative;
 	border-radius: .5em;
	border: .15em solid white;
	margin: 1.5em;
}

.show a {
	text-decoration: none;
	color: white;	
}

.showScroller {
	height: 5em;
}

.showText {
}

.showText .showTitle, .showText .showDesc, .showText .showDates {
	margin-left: 10em;
	text-align: left;
}

.showPic {
	height: 9em;
	width: 9em;
	margin: .5em;
	position: absolute;
	left: 0;
	top: 0;
	
}

.showPic img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

h2 {
	padding: 0;
	margin: 0;
}

.showTitle h2 {
	font-size: 2em;
	padding-top: .1em;
	font-family: "rounded", Helvetica;
}

.showDates h2 {
	font-family: arial;
	font-size: .75em;
	font-style: italic;
}

.showPage {
    margin: 1.5em;
}

.showHeader {
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    padding: .5em;
}

.showHeaderDates {
    position: absolute;
    top: .65em;
    left: 2.5em;
    font-size: 2em;
    text-align: center;
    font-family: 'Rounded', Helvetica;
}

.showThumb {
    width: 14em;
    height: 14em;
    position: absolute;
    z-index: 10;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 1);
}

.showThumb img {
    width: 14em;
    height: 14em;
}

.showDescription {
}

.showMap {
    height: 14em;
    width: 100%;
}

.showMapInfo {
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 10;
    padding: .25em;
    font-family: "rounded", Helvetica;
    color: black;
    width: 90%;
    background-color: rgba(255, 255, 255, .5);
}

.showInfo {
    padding: .5em;
}

.showGallery {
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    padding: .25em 0;
    text-align: center;
    height: 4em;
    overflow-x: hidden;
    white-space: nowrap;
}

.showGallery img {
    height: 2.55em;
    padding: .25em;
    border: 2px solid white;
    border-radius: 5px;
}

.showGallery img:hover {
    border: 2px solid #AAC;
    background-color: transparent;
}

.scroller {
    overflow: auto;
}

.thumbnail img {
	border: 1px solid white;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


/* Color scheme */
#menu ul li a:hover, #whatson:hover, .showTitle h2, .hover .showText a {
	color: #AAD;
}

#menu ul li a:hover:before {
	background-color: #AAD;
}

#woDates h2, .showDates h2 {
	color: #CCCCCC;
}

.hover {
	border-color: #AAD;
}

#loggedin {
    border: 2px solid red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#loggedin:after {
    content: 'Admin mode';
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

form {
    position: relative;
    right: 1em;

}