@CHARSET "ISO-8859-1";

@font-face {
  font-family: 'rounded';
  src: url('/fonts/vaground-webfont.eot');
  src: local('vagrond-webfont'), url('/fonts/vaground-webfont.ttf') format('truetype'); /* non-IE */
}

body, html {
	margin: 0;
	padding: 0;
	color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        z-index: -2;
}

body { background-color: transparent !important; }

html {
    background-color: black !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a, input, select, div {
      border:none;
      outline:none;
}

a img {
    border: none;
}

#gdp img {
    width: 10em;
}

#header {
        position: absolute;
        margin: .67em 0 0 .67em;
        padding: .5em;
        width: 16.67em;
        top: -.33em;
        left: 1.25em;
	z-index: 10;
        text-align: right;
        font-size: 3em;
        font-family: "rounded", Helvetica;
        text-shadow: 0, 0, 0, -4px 4px;
        text-shadow: rgba(0,0,0,.75) -4px 4px rgba(0,0,0,1);
}

#body {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
}

#menu {
	right: 0;
	top: 5em;
	font-family: "rounded", Helvetica;
}

#menu ul li {
	padding: 0 1em;
	margin: .5em 0;
        background-color: black;
	background-color: rgba(0, 0, 0, .5);
        filter:alpha(opacity=50);
	text-align: right;
}

#menu>ul>li>a {
	position: relative;
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	padding-right: 1em;
}

#whatson {
	color: white;
	position: absolute;
	right: 2em;
	bottom: 2em;
	text-shadow: 1px 1px 2px black;
}

#whatson span {
	display: block;
        text-align: center;
}

#woTitle {
	-webkit-transform-origin: 0 100%; 
	-moz-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
        writing-mode: tb-lr;
	position: absolute;
	bottom: -.15em;
	font-size: 1.5em;
	font-family: "rounded", Helvetica;
	margin: 0;
	padding: 0;
}

#woShowtitle h2 {
	font-size: 1.5em;
	font-family: "rounded", Helvetica;
}

#woShowtitle, #woDates, #woThumb {
	padding: 0 .5em;
}

#woDates h2 {
	font-family: arial;
	font-size: .75em;
	font-style: italic;
}

#woThumb {
	position: relative;
	top: .25em;
	padding: .25em;
	width: 6em;
	height: 6em;
        margin: auto;
        text-align: center;
        border: 2px solid #AAD;
}

#woThumb img {
	width: 100%;
	height: 100%;
}

#image {
	position: absolute;
        left: 0;
	top: 0;
        height: 100%;
	width: 100%;
	background-color: black;
	z-index: -1;
}

#imageInfo {
    padding: .5em;
    position: absolute;
    bottom: 0;
    left: 0;
}

#minimize {
    padding: .25em;
    top: 0;
    right: 0;
}

#image img {
	width: 100%;
	height: 100%;

}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.show {
	min-height: 10em;
	position: relative;
	border: .15em solid white;
	margin: 1.5em;
}

.show a {
	text-decoration: none;
	color: white;	
}

.showText {
}

h2 {
	padding: 0;
	margin: 0;
}

.showTitle h2 {
	padding-top: .1em;
        display: inline;
	font-family: "rounded", Helvetica;
}

.showTitle>a {
    padding-left: 1em;
    position: relative;
    bottom: .25em;
    font-family: 'rounded', Helvetica;
}

.showDates h2 {
	font-family: arial;
	font-size: .75em;
	font-style: italic;
}

.showHeader {
    position: relative;
    border: 2px solid white;
    padding: .5em;
}

.showHeaderDates {
    text-align: center;
    font-family: 'Rounded', Helvetica;
}

.showThumb {
    width: 14em;
    height: 14em;
    position: absolute;
    z-index: 10;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 1);
}

.showThumb img {
    width: 14em;
    height: 14em;
}

.showDescription {
}

.showMap {
    height: 14em;
    width: 100%;
    color: black;
}

.showMapInfo {
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 10;
    padding: .25em;
    font-family: "rounded", Helvetica;
    color: black;
    width: 90%;
    background-color: rgba(255, 255, 255, .5);
}

.showInfo {
    padding: .5em;
}

.showTicket {
    display: inline-block;
}

.showGallery {
    width: 45em;
    margin: auto;
    overflow: auto;
    bottom: 0;
    text-align: center;
    height: 4em;
    padding-top: .5em;
    border-radius: .5em;
    white-space: nowrap;
}

.showGallery ul {
}

.showGallery li {
    float: left;
    white-space: nowrap;
}

.showGallery img {
    height: 2.55em;
    opacity: .5;
    filter:alpha(opacity=70);
    border: none;
}

.thumbnail img {
	border: 1px solid white;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#woDates h2, .showDates h2 {
    color: #CCCCCC !important;
}

#loggedin {
    border: 2px solid red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#loggedin:after {
    content: 'Admin mode';
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.rounded, .roundedNoIE {
    border-radius: .5em;
}

.flash {
    padding: .5em;
    text-align: center;
    filter:alpha(opacity=40);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

#notice {
    background-color: green;
    background-color: rgba(0, 255, 0, .4);
}

#error {
    background-color: red;
    background-color: rgba(255, 0, 0, .4);
}

.transBack {
    position: absolute;
    background-color: black;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 .5em .5em rgba(0, 0, 0, .7);
    filter:alpha(opacity=70);
    color: white;
}

.roundFont {
    font-family: "rounded", Helvetica;
}

.social span {
    position: relative;
    top: .1em;
    right: 1.5em;
}