#mobileContent {
    overflow: auto;
}

#logo {
    position: relative;
    z-index: 1000;
    height: 7em;
    width: 7em;
    padding: 1em;
}

#mobileHeaderLink {
    position: absolute;
    top: 0;
    right: 0;
    width: 15em;
    height: 9em;
}

#mobileHeaderImageShadow {
    height: 20em;
    position: absolute;
    left: -12em;
    width: 10em;
    box-shadow: 6em 0 5em black;
    top: -5em;
}

#mobileHeaderImage {
    height: 9em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

#mobileHeaderImage img {
    height: 100%;
}

#mobileHeaderInfo {
    position: absolute;
    font-size: .8em;
    bottom: .25em;
    right: .25em;
    text-align: right;
    text-shadow: 2px 2px 0 black;
}

#mobileContent {
    padding: 1em;
}

#mobileContent > img {
	width: 100%;
}

#menu>ul {
	margin-bottom: -2em;
}

#menu>ul>li, #mobileFooter {
    padding: 1em 0;
    margin: -1em -1em 1.5em -1em;
    box-shadow: inset 0 0 15px black;
    text-shadow: 3px 2px 3px black;
    background-image: url('/images/patterns/weave.gif');
}

#mobileFooter {
	margin: .1em 0 0 0;
	padding: .5em;
	text-align: center;
}

#mobileFooter img {
	padding: .5em;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
}

#aboutList li {
    width: 50%;
}

#aboutList .abouttext {
    left: .5em;
}

#aboutList .slider {
    padding-top: 1em;
}

.showPic {
    padding: 10px;
    width: 10em;
    margin: auto;
    position: static;
}

.showPic img {
    width: 10em;
}

.showText .showTitle, .showText .showDesc, .showText .showDates {
    text-align: center;
}

.showTitle > a {
    display: block;
}

.showTitle > h2 > a{
    color: white;
    font-size: 1.4em;
    text-decoration: none;
}

.show .showDesc {
    padding-bottom: 1em;
}

.showHeaderDates {
    position: relative;
    top: .25em;
    font-size: 1.8em;
}

.showHeader {
    margin: auto;
    max-width: 30em;
    position: relative;
}

.showGridBack {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.showGrid .showRow {
    height: 50%;
    margin: 0;
    padding: 0;
}

.showGrid .showGridSquare {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 1.5em;
    text-shadow: 2px 2px 0 black;
    font-weight: bold;
    position: relative;
}

.showGrid .gridSquareSpacer {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 45%;
    z-index: 10;
}

.showGrid .showGridSquare a {
    background: rgba(100,100,100,.5);
    padding: .25em;
    box-shadow: .1em .1em 10px black;
    border-radius: .25em;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.showGrid .showGridCanvas {
    border-radius: .5em;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.backButton {
    position: absolute;
    bottom: .5em;
    right: .75em;
    text-shadow: 2px 2px 0 black, 0 0 .25em black;
    font-size: 1.25em;
    z-index: 100;
}

.showGridBack.faded {
    opacity: .3;
}

.picture-viewer.columns {
    line-height: 0;
    -webkit-column-gap:   0px;
    -moz-column-gap:      0px;
    column-gap:           0px; 
}

.picture-viewer.columns-2 {
    -webkit-column-count: 2;
    -moz-column-count:    2;
    column-count:         2;
}
.picture-viewer.columns-3 {
    -webkit-column-count: 3;
    -moz-column-count:    3;
    column-count:         3;    
}

.picture-viewer img {
    width: 100%;
    height: auto;
}

.back-button {
	position: fixed;
	bottom: 1em;
	right: 1em;
}

.back-button a {
	font-size: 1.5em;
	text-shadow: 2px 2px 0 black;
	color: white;
	text-decoration: none;
}

.social img {
    margin: 0;
    width: 2.5em;
    height: 2.5em;
    padding-left: 2em;
}

.popup {
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in;
}

.popup-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	rgba(0, 0, 0, .5);
	opacity: .6;
	background-color: black;
	z-index: 50;
}

.popup-modal {
	position:fixed;
	top:150px;
	margin:0;
	border:2px solid #AAD;
	width:180px;
	text-align:center;
	word-spacing:2px;
	line-height:15px;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	padding:10px;
	opacity:0;
	z-index:102;
	background-image: url('/images/patterns/weave.gif');
	-webkit-border-radius:8px;
	box-shadow: inset 0 0 10px 1px #AAD;
	text-shadow: 1px 1px 0 black;
}