/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#social {
    background-color: transparent;
}

#social li {
    float: left;
}

#social img {
    width: 2em;
    height: 2em;
}