<div id="mobileHeader">
  <%= link_to(image_tag('GDP_mini.gif', :id => 'logo'), '/') %>
  <%= render partial: 'partials/mobile/background_data', locals: { background: @background } %>
</div>
<div id="mobileContent"><%= yield %></div>
<div id="mobileFooter"><%= render partial: 'partials/socials', locals: { socials: @socials } %>
